body{
    position: -webkit-sticky;
    position: sticky;
    display: inline-block;
}
.frog.head.big{
    position: relative;
    background-color: green;
    border: 2px solid black;
    width: 200px;
    height: 60px;
   top: 20px;
   z-index: 20;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
}
.frog2.head.big{
    position: relative;
    background-color: orange;
    border: 2px solid black;
    width: 200px;
    height: 60px;
   top: 20px;
   z-index: 20;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
}
div{
    display: inline-block;
}
.frog.eye2.big{
    position: relative;
    right: 20px;
    background-color: green;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 160;
    border: 2px solid black;
    
}
.frog.eye1.big{
    position: relative;
    left: 20px;
    background-color: green;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    
    text-align: center;
    z-index: 2000;
    border: 2px solid black;
}
.frog.head.small{
    position: relative;
    background-color: green;
    border: 2px solid black;
    width: 100px;
    height: 50px;
   top: 30px;
   z-index: 20;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
   
}
.frog2.head.small{
  
    position: relative;   
    background-color: orange;
    border: 2px solid black;
    width: 100px;
    height: 50px;
   top: 30px;
   z-index: 20;
   
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
}

.frog.eye2.small{
    position: relative;
    top: 10px;
    right: 20px;
    background-color: green;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 160;
    border: 2px solid black;
}
.frog.eye1.small{
    position: relative;
    top: 10px;
    left: 20px;
    background-color: green;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 160;
    border: 2px solid black;
}
.frog2.eye2.small{
    
    position: relative;
    right: 20px;
    background-color: orange;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    top:10px;
    z-index: 160;
    border: 2px solid black;
}
.frog2.eye1.small{
    top: 10px;
    left: 20px;
    background-color: orange;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 160;
    border: 2px solid black;
   
    position: relative;
}
.cont{
    display: inline-block;
    margin: 20px;
}
.frog2.eye2.big{
    position: relative;
    right: 20px;
    background-color: orange;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 160;
    border: 2px solid black;
    
}
.frog2.eye1.big{
    position: relative;
   
    background-color: orange;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    left: 20px;
    text-align: center;
    z-index: 2000;
    border: 2px solid black;
}
.type1.l:hover{
    background-color: black;
    color: white;
    background-position:right 50px ;
    background-repeat: repeat;

}
.cont:hover .eye1.big, .cont:hover .eye2.big{
    background-color: black;
    color: white;
}
.cont:hover .eye2.small, .cont:hover .eye1.small{
    background-color: black;
    color: white;
}