body{
    position: -webkit-sticky;
    position: sticky;
    display: inline-block;
}
.frog.head.big{
    position: relative;
    background-color: green;
    border: 2px solid black;
    width: 200px;
    height: 60px;
   top: 20px;
   z-index: 20;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
}
.frog.head.big::before{
    position: absolute;
    content: "o";
    color: white;
    top: -30px;
    left: -20px;
    width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 50px;
    align-content: center;
    border: 2px solid black;
    background-color: rebeccapurple;
}
.frog.head.big::after{
    position: absolute;
    content: "o";
    color: white;
    top: -30px;
    right:  -20px;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: rebeccapurple;
}

.frog2.head.big{
    position: relative;
    background-color: orange;
    border: 2px solid black;
    width: 200px;
    height: 60px;
   top: 20px;
   z-index: 20;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
}
.frog2.head.big::before{
    position: absolute;
    content: "o";
    color: white;
    background-color: orange;
    border: 2px solid black;
    top: -30px;
    left: -20px;
    width: 50px;
    height: 50px;
   z-index: 20;
   text-align: center;
   align-content: center;
   border-radius: 50px;
   font-weight: bold;
   font-size: medium;
}
.frog2.head.big::after{
    position: absolute;
    content: "o";
    color: white;
    background-color: orange;
    border: 2px solid black;
    top: -30px;
    right: -20px;
    width: 50px;
    height: 50px;
   z-index: 20;
   align-content: center;
   text-align: center;
   border-radius: 50px;
   font-weight: bold;
   font-size: medium;
}



.frog.head.small{
    position: relative;   
    background-color: rgb(0, 255, 17);
    border: 2px solid black;
    width: 100px;
    height: 50px;
    top: 20px;
   z-index: 20;
   vertical-align: bottom;
   line-height: 70px;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
}
.frog.head.small::before{
    
    position: absolute;
    content: "o";
    color: white;
    top: -20px;
    right: 80px;
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: rgb(0, 255, 17);
}
.frog.head.small::after{
    
    position: absolute;
    content: "o";
    color: white;
    top: -20px;
    left: 80px;
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: rgb(0, 255, 17);
}

.frog2.head.small{
  
    position: relative;   
    background-color: orange;
    border: 2px solid black;
    width: 100px;
    height: 50px;
    top: 20px;
   z-index: 20;
   vertical-align: bottom;
   line-height: 60px;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
}
.frog2.head.small::before{
    
    position: absolute;
    content: "o";
    color: white;
    top: -20px;
    right: 80px;
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: orange;
}
.frog2.head.small::after{
    
    position: absolute;
    content: "o";
    color: white;
    top: -20px;
    left: 80px;
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: orange;
}
.frog3.head.small{
  
    position: relative;   
    background-color: orange;
    border: 2px solid black;
    width: 100px;
    height: 50px;
    top: 20px;
   z-index: 20;
   vertical-align: bottom;
   line-height: 60px;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
}
.frog3.head.small::before{
    
    position: absolute;
    content: "o";
    color: white;
    top: -20px;
    right: 80px;
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: orange;
}
.frog3.head.small::after{
    
    position: absolute;
    content: "o";
    color: white;
    top: -20px;
    left: 80px;
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: orange;
}
.frog4.head.small{
  
    position: relative;   
    background-color: greenyellow;
    border: 2px solid black;
    width: 100px;
    height: 50px;
    top: 20px;
   z-index: 20;
   vertical-align: bottom;
   line-height: 60px;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   font-size: medium;
}
.frog4.head.small::before{
    
    position: absolute;
    content: "o";
    color: white;
    top: -20px;
    right: 80px;
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: greenyellow;
}
.frog4.head.small::after{
    
    position: absolute;
    content: "o";
    color: white;
    top: -20px;
    left: 80px;
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color: greenyellow;
}
div{
    display: inline-block;
    margin: 20px;
}


   
    


